<!doctype html>
<html lang="en">

<head>
  <%- include ../partials/head.ejs %>
  <title>Your boards</title>
</head>

<body>
  <%- include ../partials/header.ejs %>
  <div class="container">

    <h2>Welcome <em><%= user.username %></em></h2>
    <p>Here is an overview of all your Glo Boards. The total time tracked for your boards will be displayed here.</p>

    <div class="card table-card">
      <div class="table-responsive">
        <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th scope="col">Board Name</th>
              <th scope="col">Personal Time Tracked</th>
              <th scope="col">Tracking?</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% boards.forEach( function (board) { %>
            <tr>
              <!--TODO: fix times-->
              <th scope="row"><a href="/boards/<%= board.id %>"><%= board.name %></a></th>
              <td><%= board.totalTime %></td>
              <% if (board.trackingEnabled) { %>
              <td>Tracking</td>
              <% } else { %>
              <td>Not tracking</td>
              <% } %>
              <td><a href="/boards/<%= board.id %>">See Details &raquo;</a></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
    <p>Click on a Boardname or "<i>See Details</i>" for a closer look at a particular board.</p>
  </div>
  <%- include ../partials/footer.ejs %>
</body>

</html>
